@import '/theme.scss';

.swiper {
    height: 500px;
    .swiper-wrapper {
        height: 470px;
        .swiper-slide {
            border-right: 1px solid $primaryDark;
            height: 100%;
            width: initial;
        } 
    }

    .swiper-button-prev {
        top: 16px;
        left: initial;
        right: 40px;
        &::after {
            content: url("/public/prev.svg");
            fill: $primaryDark;
        }
    }

    .swiper-button-next {
        top: 16px;
        &::after {
            content: url("/public/next.svg");
            fill: $primaryDark;
        }
    }

    .swiper-pagination {
        bottom: 0px !important;
        .swiper-pagination-bullet {
            width: 20px !important;
            height: 4px;
            border-radius: 0;
            background-color: $primaryDark;
        }
    }
}