.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

$maxCol: 12;
@for $width from 1 through $maxCol {
  .col--#{$width} {
    flex-basis: calc($width / $maxCol * 100%);
    max-width: calc($width / $maxCol * 100%);
  }
}

@each $key, $value in $breakPoints {
  @media screen and (min-width: $value + px) {
    @for $width from 1 through $maxCol {
      .col-#{$key}--#{$width} {
        flex-basis: calc($width / $maxCol * 100%);
        max-width: calc($width / $maxCol * 100%);
      }
    }
  }
}