@use "/_theme.scss";

.card {
    padding: 24px;
    height: 100%;
    height: 400px;
    @media (min-width: $sm + px) {
        height: 500px;
    }
    &.card__block--dark {
        background-color: $primaryDark;
        color: $primaryWhite;
    }
    &.card__block--light {
        background-color: $primaryLight;
        color: $primaryDark;
    }
    // @media (min-width: $sm + px) {
    //     height: 700px;
    // }
    .card__content {
        // we need padding requirements per breakpoint
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .card__title {
            // we need font requirements per breakpoint
            font-size: 3rem;     
            font-weight: bolder;
            line-height: 1;
            flex: 1;
            p {
                margin: 0;
            }
        }

        .card__cta {
            align-content: end;
            flex: 1;
            .button--secondary {
                background: transparent;
                border: 2px solid $primaryLight;
                color: $primaryLight;
                cursor: pointer;
                display: inline-block;
                padding: 10px 16px;
                transition: 300ms ease;
                &:hover {
                    background: $primaryLight;
                    color: $primaryDark;
                }
            }
        }
    }

    /* card variation for carousel product cards */
    &.card__product-offer {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        .card__product-content {
            flex: 1;
            .card__product-eyebrow {
                p { 
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 0 0 1rem 0;
                }
            }

            .card__product-headline {
                p { 
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin: 0 0 1rem 0;
                }
            }

            .card__product-legal {
                p { 
                    font-size: 0.9rem;
                    margin: 0;
                    color: $lightGrey;
                }

            }
        }

        .card__product-visual {
            display: flex;
            height: 270px;
            justify-content: center;
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
            }   
        }
    }
    &.card__product-offer--fixed {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 300px;
        .card__product-content {
            flex: 1;
            .card__product-eyebrow {
                p { 
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 0 0 1rem 0;
                }
            }

            .card__product-headline {
                p { 
                    font-size: 1.5rem;
                    font-weight: 900;
                    margin: 0 0 1rem 0;
                }
            }

            .card__product-legal {
                p { 
                    font-size: 0.9rem;
                    margin: 0;
                    color: $lightGrey;
                }

            }
        }

        .card__product-visual {
            display: flex;
            height: 270px;
            justify-content: center;
            overflow: hidden;
            img {
                height: 100%;
                width: auto;
            }   
        }
    }
}

